[ssh_connection]
pipelining=True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
private_key_file = ../secrets/compute
remote_port = 22

[inventory]
enable_plugins = script
ignore_extensions = tfvars